img {
  height: auto;
  min-height: 1px;
  min-width: 1px;
  max-width: 100%; }

amp-img {
  max-width: 100%;
  max-height: 100%; }

video, iframe {
  max-width: 100%; }

ul, ol {
  margin: 0 0 1.6em 1.3em; }

dfn, cite, em, i {
  font-style: italic; }

b, strong {
  font-weight: 700; }

code, kbd, tt, var, samp, pre {
  font-family: Inconsolata, monospace; }

mark, ins {
  background: transparent;
  text-decoration: none; }

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto; }

address {
  margin: 0 0 1.5em; }

blockquote {
  background: #fafafa;
  border: 1px solid #eee;
  margin: 1em 0;
  padding: 4px 20px 0 0; }
  blockquote:before, blockquote:after {
    color: #eee;
    font-family: Georgia,serif;
    content: "\201c";
    font-size: 5rem;
    height: 40px;
    width: 28px;
    line-height: 1;
    display: block;
    text-align: center; }
  blockquote:after {
    margin-left: auto;
    margin-top: 8px; }

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  text-align: right;
  margin-top: 0.5em; }

th, td {
  border: 1px solid #eee; }

table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap; }

th {
  font-weight: 700; }

th, td {
  padding: .7em;
  text-align: left; }

tbody tr:nth-child(odd) {
  background: #eee; }

select {
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 3em;
  max-width: 100%; }

label {
  display: block;
  font-weight: 800;
  margin-bottom: 0.5em; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #555;
  background: #fff;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 10px 5px;
  width: 97.5%;
  margin: 5px; }

button, input[type="button"], input[type="submit"] {
  background: #333;
  color: #fff;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  padding: 1em 2em;
  text-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background: #666;
  color: #fff; }




.widget {
  margin: 0 0 30px;
  padding: 20px 10px;
  border-radius: 3px;
  max-width: 100%; }

.s_widget {
  background: #fff; }

.post_body .widget {
  margin: 30px 0; }

.widget_title {
  font-size: 18px;
  margin-bottom: 10px; }

.sw_title {
  font-size: 18px; }

.fw_title {
  font-size: 18px; }

.widget ul {
  list-style: none;
  margin: 0; }

.widget select {
  width: 100%; }

.widget_rss li .rsswidget {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4; }

.widget_rss .rss-date {
  margin: 0.5em 0 1.5em;
  padding: 0; }

.widget_rss .rss-date, .widget_rss li cite {
  color: #767676;
  display: block;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.18em; }

.widget_rss .rssSummary {
  margin-bottom: 0.5em; }

.widget_rss ul li:first-child {
  border-top: none;
  padding-top: 0; }

.widget_rss ul li {
  padding: 2.125em 0; }

.widget ul li, .widget ol li {
  padding: 5px 0; }

.widget ul li ul {
  margin: 0 0 -1px;
  padding: 0;
  position: relative; }

.widget ul li li {
  border: none;
  padding-left: 24px; }

.fit_widget {
  margin: -20px -10px; }




#wp-calendar {
  width: 100%;
  max-width: 390px;
  display: table; }

.widget_calendar td, .widget_calendar th {
  line-height: 2.3;
  text-align: center;
  padding: 0; }

.widget_calendar tbody a {
  background: #07a;
  color: #fff;
  display: block;
  font-weight: 700; }

.widget_calendar tbody a:hover, .widget_calendar tbody a:focus {
  background: #222;
  color: #fff; }

.widget_search {
  width: 100%; }




.search_form {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%; }
  .search_form:focus {
    outline: none; }

.search_field {
  border: solid 1px #eee;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  display: inline-block;
  width: 100%; }
  .search_field:focus {
    outline: none; }

input::-webkit-input-placeholder {
  color: #ccc; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

.search_submit {
  background: #333;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.6em 0.8em;
  border: none; }

.search_submit:hover {
  background: #666;
  color: #fff; }




.tagcloud a {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .tagcloud a:hover {
    opacity: .7; }




.aligncenter {
  display: block;
  margin: 0 auto;
  clear: both; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden; }




#comments {
  max-width: 100%; }

.comment_body {
  margin-bottom: 10px; }

.comment_metadata {
  padding-left: 60px; }

.comment_avatar {
  padding-right: 8px; }

.comment_avatar .avatar {
  max-height: 60px;
  max-width: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.comment_text {
  display: inline-block;
  position: relative;
  padding: 10px;
  min-width: 30px;
  min-height: 27px;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  margin: 6px 0 10px 10px; }
  .comment_text:before, .comment_text:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0; }
  .comment_text:before {
    top: 22px;
    border: 6px solid;
    left: -14px;
    border-color: #eee #eee transparent transparent; }
  .comment_text:after {
    top: 24px;
    border: 5px solid;
    left: -9px;
    border-color: #fff #fff transparent transparent; }

.bypostauthor {
  width: auto; }
  .bypostauthor .comment_metadata {
    padding-right: 70px;
    padding-left: 0px;
    text-align: right; }
  .bypostauthor .comment_avatar {
    padding-left: 8px;
    padding-right: 0; }
  .bypostauthor .comment_text {
    margin-left: 0;
    margin-right: 10px; }
    .bypostauthor .comment_text:before {
      left: auto;
      right: -14px;
      border-color: #eee transparent transparent #eee; }
    .bypostauthor .comment_text:after {
      left: auto;
      right: -9px;
      border-color: #fff transparent transparent #fff; }

.comment-list ul.children {
  padding-left: 20px; }

.comment-form label {
  margin-bottom: 0; }
.comment-form p {
  margin: 10px auto; }
.comment-form input[type="submit"] {
  width: 100%;
  -webkit-appearance: button; }

input:required + .help-text::before {
  content: '*Required'; }

.logged-in-as {
  margin: 10px 0; }

#comments ul {
  list-style: none;
  margin: 0; }

.no-comments {
  border-top: #eee;
  font-weight: 700;
  padding-top: 1.6em; }

.comments-title {
  margin-bottom: 1em; }

.comment_pager {
  margin-bottom: 20px; }

.comment_button_amp {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto; }

.chat_author {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 16px 8px 0 0; }




.page-links > span, .nav-links .current {
  background: #333;
  color: #fff; }

.page-links a, .page-links > span,
.page-numbers {
  border: 1px solid #eee;
  display: inline-block;
  padding: 1.5px 10px;
  margin: 0 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px; }




.wp-caption {
  border: 1px solid #eee;
  background: #fafafa;
  text-align: center;
  margin: 10px auto 20px;
  padding: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  max-width: 100%; }

.wp-caption-text {
  text-align: center; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 0 1.5em;
  padding: 0 1em 0 0;
  width: 100%; }
  .gallery-item img:hover {
    opacity: 0.7; }

.gallery-caption {
  padding: 0 10px 0 0;
  margin-bottom: 0; }

.wp-caption img,
.gallery img {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
  display: none; }


