


.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }
.clearfix:after {
  clear: both; }




.fit_box_img_wrap {
  position: relative;
  overflow: hidden; }
  .fit_box_img_wrap:before {
    content: "";
    display: block;
    padding-top: 75%; }
  .fit_box_img_wrap img, .fit_box_img_wrap amp-img {
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    margin: auto;
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; }
  .fit_box_img_wrap amp-img {
    height: 100%;
    width: 100%; }




.o_s_t {
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }
  .o_s_t::-webkit-scrollbar {
    height: 4px; }
  .o_s_t::-webkit-scrollbar-track {
    background: #ccc; }
  .o_s_t::-webkit-scrollbar-thumb {
    background: #07a; }




.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%; }

.contents {
  width: 100%;
  min-height: 1px;
  margin: 0 auto; }

article {
  width: 100%; }

.index_contents {
  padding: 20px 10px; }

#sidebar {
  padding: 20px 10px; }




#oh_wrap {
  background: #33363b;
  padding: 0 5px; }

#h_wrap {
  background: #fff; }

.sh_con {
  padding: 5px;
  position: relative;
  height: auto;
   }

.m_con {
  margin-top: 20px; }

#nav_h .container {
  width: 100%; }

.nav_h2 {
  background: #fff; }

#menu_sub {
  background: #f1f1f1; }

.menu_s {
  height: 40px; }

.menu_s li {
  text-align: center;
  padding: 12px 10px; }

.menu_s li[class*="children"] > ul {
  display: none; }

.menu_box {
  height: 100%;
  padding: 18px; }

.bar_box {
  left: 0; }

.serach_box {
  right: 0; }

#t_menu:not(:checked) ~ header #nav_h {
  height: 0vh;
  padding: 0;
  overflow: hidden;
  transition: all .4s ease; }
#t_menu:checked ~ header #nav_h {
  height: 100vh;
  overflow: auto;
  transition: all .4s ease; }
#t_menu:not(:checked) ~ #oh_wrap, #t_menu:not(:checked) ~ header .hw_con {
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease; }
#t_menu:checked ~ #oh_wrap, #t_menu:checked ~ header .hw_con {
  max-height: 1000px;
  overflow: auto;
  transition: all 1s ease; }

.humberger {
  height: 14px;
  width: 18px;
  font-size: 36px;
  position: relative;
  cursor: pointer; }

.humberger:before, .humberger:after {
  background: #555;
  display: block;
  content: '';
  position: absolute;
  -webkit-transition: -webkit-box-shadow 0.1s linear, -webkit-transform 0.8s;
  transition: box-shadow 0.1s linear, transform 0.8s; }

.humberger:before {
  -webkit-box-shadow: #555 0 6px 0;
  box-shadow: #555 0 6px 0;
  height: 2px;
  width: 18px;
  -webkit-transform-origin: left top;
  transform-origin: left top; }

#t_menu:checked ~ header .bar_box label:before {
  -webkit-transform: rotate(1125deg);
  transform: rotate(1125deg);
  -webkit-box-shadow: transparent 0 0 0;
  box-shadow: transparent 0 0 0; }

.humberger:after {
  bottom: 0;
  height: 2px;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  width: 18px; }

#t_menu:checked ~ header .bar_box label:after {
  -webkit-transform: rotate(-1125deg);
  transform: rotate(-1125deg); }

.menu_base li a {
  display: block;
  padding: 12px 10px 12px 0;
  margin: auto; }

.menu_base li[class*="children"] {
  position: relative; }

.menu_base li[class*="children"] > ul {
  display: block;
  overflow-x: hidden;
  margin: 0;
  list-style: none; }
  .menu_base li[class*="children"] > ul > li {
    padding: 5px 10px 5px 20px; }

.site_title {
  padding: 5px 0; }

.title_text {
  font-size: 18px;
  line-height: 1; }

.header_logo {
  max-width: 300px;
  max-height: 60px;
  margin: 0 auto;
  width: 100%;
  height: 100%; }

.tagline {
  padding: 0 10px;
  text-align: center; }

.search_m {
  line-height: 1;
  cursor: pointer; }

#t_search:not(:checked) ~ #h_search {
  display: none; }
#t_search:checked ~ #h_search {
  display: block; }

.h_widget,
.oh_widget {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  padding: 5px 0; }




#site_f {
  margin: 20px 0 0; }

.f_widget_wrap {
  background: #474747;
  color: #d4d4d4; }
  .f_widget_wrap a:not(.icon_base):not(.to_top) {
    color: #fff; }
    .f_widget_wrap a:not(.icon_base):not(.to_top):hover:not(.non_hover) {
      color: #222; }
  .f_widget_wrap .dd_widget ul a li {
    color: #000; }

.fw_con {
  padding: 22px 10px 0; }
  .fw_con > div {
    max-width: 100%; }

#menu_f {
  background: #f1f1f1; }

.credit_wrap {
  background: #33363b;
  color: #777; }
  .credit_wrap a {
    color: #fff; }

.credit {
  width: 100%;
  text-align: center;
  padding: 22px 10px; }

.copyright_info,
.copyright_wordpress {
  margin: 0 auto; }
  .copyright_info div,
  .copyright_wordpress div {
    margin: 0 auto;
    padding: 0 5px;
    text-align: center; }

.footer_logo {
  max-width: 300px;
  max-height: 60px;
  margin: 0 auto;
  width: 100%;
  height: 100%; }


