.ya_notice {
  margin: 10px auto;
  border: 1px solid transparent;
  padding: 15px 15px 15px 60px;
  position: relative;
  border-radius: 3px; }
  .ya_notice:before {
    font-family: "FontAwesome";
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 26.5px;
    transform: translate(-50%, -50%); }

.ya_success {
  background: #bed8be; }
  .ya_success:before {
    color: #94c395;
    content: "\f058"; }

.ya_danger {
  background: #efa882; }
  .ya_danger:before {
    color: #d9544f;
    content: "\f057"; }

.ya_info {
  background: #dceaea; }
  .ya_info:before {
    color: #7ec3d8;
    content: "\f05a"; }

.ya_warning {
  background: #f9e4a5; }
  .ya_warning:before {
    color: #efad4f;
    content: "\f071"; }




.icon_rec:after {
  font-size: 12px;
  content: attr(title);
  padding-left: 6px;
  line-height: 1; }

.sns_tooltip:hover:before {
  content: "";
  top: -12px;
  left: 5px;
  border: 5px solid;
  background: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  display: block;
  position: absolute;
  z-index: 1; }

.sns_tooltip:hover:after {
  left: 0;
  top: -40px;
  width: auto;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  content: attr(title);
  display: block;
  padding: 2px 10px;
  position: absolute;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

ul.sns_link_icon li {
  margin: 0;
  padding: 4px 8px 4px 0;
  border: none; }
  ul.sns_link_icon li:last-child {
    padding-right: 0; }
  ul.sns_link_icon li:last-child .sns_tooltip:hover:before {
    left: auto;
    right: 5px; }
  ul.sns_link_icon li:last-child .sns_tooltip:hover:after {
    right: 0;
    left: auto; }

.sns_opacity a:hover {
  opacity: 0.7; }




.sitemap_list > li {
  margin: 0 0 5px 0; }
  .sitemap_list > li > a {
    font-weight: bold; }

.cta_box_wrap {
  position: relative; }

.cta_box_thum {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0; }
  .cta_box_thum:before {
    padding-top: 50%; }

.cta_box_like {
  background: rgba(39, 39, 39, 0.5);
  width: 100%;
  padding: 18px 9px;
  text-align: center;
  border-radius: 3px;
  z-index: 1; }

.cta_box_gra {
  -webkit-animation: cta_box_ani 10s  infinite;
  animation: cta_box_ani 10s  infinite; }

p.cta_box_like_text {
  color: #fff;
  margin-bottom: 0; }

.cta_box_fa, .cta_box_tw {
  margin: 10px auto; }

.cta_box_fa, .cta_box_tw, .cta_box_fe {
  margin: 10px auto; }

.pf_bg {
  height: 160px;
  border-radius: 3px 3px 0 0; }

.mb_M .pf_bg.fit_widget {
  margin-bottom: 0; }

.has_bg {
  margin-bottom: 50px; }

.pf_img {
  height: 120px;
  width: 120px;
  border: 5px solid rgba(255, 255, 255, 0.5); }

.pf_sns_wrap {
  border-top: 1px solid #eee;
  padding: 8px 0 0; }

iframe.twitter-timeline {
  min-width: 100% !important;
  width: 1px !important; }

.dd_widget label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px; }

.dd_widget ul li {
  padding: 0;
  border: none; }

.dd_widget ul li a {
  padding: 10px;
  background: #fff;
  border: none;
  cursor: pointer; }

.dd_widget ul li a:hover {
  background: #07a;
  color: #fff; }

.dd_widget > input:checked ~ ul {
  display: block;
  max-height: 500px;
  overflow-y: scroll; }

.dd_widget > input:checked ~ label .caret_right {
  display: none; }

.dd_widget > input:checked ~ label .caret_down {
  display: block; }

.dd_widget > input:checked ~ .dd_dummy {
  display: block;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.05); }

.ad_box {
  margin: 0 auto; }

.ad_responsive {
  padding: 10px 0; }

.post_body .ad_inarticle {
  margin: 30px 0; }

.ad_labeling {
  text-align: right; }

.ad_rectangle {
  width: 100%;
  max-width: 336px; }

.w_rectangle {
  max-width: 700px; }

.ya_ad_widget {
  background: transparent; }

#cse-search-box input[type="text"] {
  height: 32px; }

div.gsc-control-cse tr {
  background: transparent; }
div.gsc-control-cse .gsst_a, div.gsc-control-cse .gsst_a:hover, div.gsc-control-cse td {
  border: none; }


