@media screen and (max-width: 767px) {
  .responsive_wrap {
    margin-left: -10px;
    margin-right: -10px; }

  .f_col100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }

  .jc_c100 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }

  .f_123 {
    flex: 0 0 100%; }

  .site_title {
    max-width: 65vw; }

  .title_tag {
    max-width: 80vw; }

  .tagline {
    font-size: 14px; }

  .hi_text {
    font-size: 20px; }

  .aa_avatar {
    margin: 0; }

  .aa_name {
    text-align: center; }

  .tab_item {
    font-size: 0.85em; }

  .mo_br:before {
    white-space: pre;
    content: '\A'; }

  .rp_box_tt li {
    flex: 0 0 80%; }

  .rp_tt_title {
    padding: 5px;
    max-height: 36px;
    font-size: 12px;
    line-height: 1.3; }

  .sd_slider_title {
    font-size: 16px;
    line-height: 1.4;
    max-height: 2.9em; }

  .mdn {
    display: none; } }


